---
---

<div id="about" class="sm:max-w-[1280px] lg:max-w-[500px] flex flex-col p-4">
  <h1 class="text-5xl text-white lg:hidden">About</h1>
  <p
    class="text-slate-400 mt-3 text-xl md:text-2xl leading-relaxed antialiased block"
  >
    "Back in 2019, I decided to I wanted to take a different direction from
    being a fast food manager and decided coding was the best skill to build a
    future around. I have always loved math, science, and logical type
    activities."
    <br /><br />
    "I went back to school and got an associates' in software development. While
    this helped, the degree only taught some basic foundational knowledge and I became
    self-taught from there. I have spent the past 2 years in my off-time educating
    myself about front-end development"
  </p>
</div>
